<div>
  <!-- Section 1 -->
  <section>
    <p id="sidebar-menu-header">
      MODULES
    </p>
    <div id="sidebar-menu-href">
      <a href="/Dashboard" class="btn input-block-level form-control"
        ><i class="fas fa-tachometer-alt"></i> Dashboard</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-shopping-basket"></i> Buying</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-chart-pie"></i> CRM</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-suitcase"></i> HR</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-coins"></i> Payroll</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-folder-open"></i> Projects</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-shield-alt"></i> Quality</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-credit-card"></i> Selling</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-box"></i> Stock</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-headphones-alt"></i> Support</a
      >
    </div>
    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-cogs"></i> Settings</a
      >
    </div>
  </section>

  <!-- Section 2 -->
  <section>
    <p id="sidebar-menu-header" style="margin-top: 30px;">
      DOMAINS
    </p>

    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-city"></i> Manufacturing</a
      >
    </div>
  </section>

  <!-- Section 3 -->
  <section style="margin-top: 30px; margin-bottom: 30px;">
    <p id="sidebar-menu-header">
      ADMINISTRATION
    </p>

    <div id="sidebar-menu-href">
      <a href="" class="btn input-block-level form-control"
        ><i class="fas fa-tools"></i> Tools</a
      >
    </div>

    <div id="sidebar-menu-href">
      <a href="/User" class="btn input-block-level form-control"
        ><i class="fas fa-user-friends"></i> Users</a
      >
    </div>
  </section>
</div>
