#container-box {
  height: 100vh !important;
  background-color: #f5f7fa;
}

#row-center {
  padding-top: 5rem !important;
  justify-content: center;
  background-color: #f5f7fa;
}

#card-text {
  font-size: 14px;
  text-align: justify;
}

#card-button {
  float: left;
  padding: 5px;
  font-size: 12px;
  border-radius: 7px;
  background-color: #2490ef;
}
